.zam-draggable-window {
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: grab;
}

.zam-draggable-window.collapsed {
    height: 40px;
}

.zam-window-title {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
    cursor: grab;
}

.zam-logs {
    height: 70px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.zam-log-message.attention {
    color: #fff;
    background-color: #ff0000;
}

.zam-log-message.success {
    color: #fff;
    background-color: #00ff00;
}