@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.box {
    @apply m-2;
    width: 287px;
    height: 180px;
    animation: fadeInRight 1s ease-out;
}

input {
    @apply m-1 bg-transparent text-sm text-slate-50;
}

iframe {
    @apply absolute left-0 top-0 h-full w-full bg-neutral;
    color-scheme: light;
}

.embed-container {
    @apply relative max-w-full overflow-hidden rounded-lg bg-slate-700;
    width: 290px;
    height: 150px;
}

.top-btn {
    @apply absolute top-1 z-10 h-5 w-12 cursor-pointer rounded-md border-none text-xs text-slate-50;
}

.refresh-btn {
    @apply right-14 bg-secondary;
}

.close-btn {
    @apply right-1 bg-red-900;
}
