.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1400px;
    }
}

body {
    background-color: black;
    color: white;
}

.col-lg-3 {
    padding: 5px;
}

h4 {
    padding: 10px;
    border: 2px solid green;
    border-radius: 15px 15px;
}

.embed-container {
    border: 2px solid green;
    border-radius: 15px 15px;
}
