.zam-draggable-window {
    top: 50px;
    left: 50px;
    border-radius: 10px;
    width: 250px;
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: grab;
    z-index: 99999;
}

.zam-draggable-window.collapsed {
    height: 40px;
}

.zam-window-title {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
    cursor: grab;
}

.zam-logs {
    height: 70px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.zam-log-message.attention {
    color: #fff;
    background-color: #ff0000;
}

.zam-log-message.success {
    background-color: #00ff00;
}

#auto-unmute-container {
    margin: 5px;
    padding: 0 10px;
}

#zam-auto-unmute-btn {
    width: 40px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: white;
    color: black;
    font-size: 12px;
}

#zam-auto-unmute-btn.off {
    border: 1px solid red;
    background-color: red;
    color: white;
}

#zam-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}

#zam-close-btn::before,
#zam-close-btn::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 8px;
    background-color: #f0f0f0;
}

#zam-close-btn::before {
    transform: rotate(45deg);
}

#zam-close-btn::after {
    transform: rotate(-45deg);
}
